<launch>
  <include file="$(find mobile_launch)/launch/bringup_erratic_stack.launch" />

  <node name="camera_transform" pkg="tf" type="static_transform_publisher" args="0.2 0.0 0.0 3.14 -1.77 0.0 base_link usb_cam 10"/>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="pixel_format" value="yuyv" />
    <param name="io_method" value="mmap"/>
    <param name="camera_info_url" value="file://$(find mobile_launch)/config/ost_erratic.yaml" />
  </node>

  <include file="$(find mobile_launch)/launch/continuous_detection.launch">
    <arg name="node_namespace" value="apriltags" />
    <arg name="camera_name" value="usb_cam" />
    <arg name="image_topic" value="image_raw" />
  </include>

  <node pkg="map_server" type="map_server" name="map_server" args="/home/tank/maps/mobile_touchup.yaml"/>

  <include file="$(find erratic_navigation)/navigation_global/move_base.launch" />
  <include file="$(find erratic_navigation)/navigation_global/amcl_node.launch" />

  <node pkg="mobile_launch" type="delatcher.py" name="delatcher" />
  <node pkg="mobile_launch" type="tf_pose_pub.py" name="pose_pub" />
  <node pkg="mobile_launch" type="follower.py" name="follower" output="screen">
    <param name="path_topic" value="/path"/>
    <param name="cmd_topic" value="/cmd_vel"/>
    <param name="num_times_spin" value="80"/>
    <param name="found_switch_topic" value="/switch_found"/>
    <param name="april_tag_frame1" value="switch_1"/>
    <param name="april_tag_frame2" value="switch_2"/>
  </node>
</launch>
