<launch>
  <node name="camera_transform" pkg="tf" type="static_transform_publisher" args="0.0 0.0 0.1 1.57 3.14 1.57 camera_link usb_cam 10"/>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/video1" />
    <param name="framerate" value="15" />
    <param name="image_width" value="800" />
    <param name="image_height" value="600" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="pixel_format" value="yuyv" />
    <param name="io_method" value="mmap" />
    <param name="camera_info_url" value="file://$(find mobile_launch)/config/ost_pioneer.yaml" />
  </node>

  <include file="$(find mobile_launch)/launch/continuous_detection.launch">
    <arg name="node_namespace" value="apriltags" />
    <arg name="camera_name" value="usb_cam" />
    <arg name="image_topic" value="image_raw" />
    <arg name="camera_frame" value="usb_cam" />
  </include>

  <node pkg="map_server" type="map_server" name="map_server" args="/home/aadi/maps/mobile_touchup.yaml"/>

  <node pkg="rosaria" type="RosAria" name="RosAria">
    <param name="port" value="/dev/pioneer"/>
    <remap from="RosAria/cmd_vel" to="/cmd_vel"/>
  </node>

  <include file="$(find pioneer_test)/launch/pioneer_sensors.launch" />
  <include file="$(find pioneer_test)/launch/pioneer_description.launch" />

  <include file="$(find mobile_launch)/launch/amcl_pioneer.launch"/>

  <!--
  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
    <remap from="scan" to="base_scan"/>
  </node>
  -->

  <include file="$(find pioneer_2dnav)/move_base.launch"/>

  <!--
  <node pkg="simple_navigation_goals" type="base_link_navigation_client" name="base_link_goal_client" output="screen"/>
  <node pkg="simple_navigation_goals" type="map_navigation_client" name="map_goal_client" output="screen"/>
  -->

  <!--
  <include file="$(find pioneer_test)/launch/pioneer_controller_spin_recover.launch" />
  -->

  <node pkg="mobile_launch" type="delatcher.py" name="delatcher" />
  <node pkg="mobile_launch" type="tf_pose_pub.py" name="pose_pub" />
  <node pkg="mobile_launch" type="follower.py" name="follower" output="screen">
    <param name="path_topic" value="/path"/>
    <param name="cmd_topic" value="/cmd_vel"/>
    <param name="num_times_spin" value="65"/>
    <param name="found_switch_topic" value="/switch_found"/>
    <param name="april_tag_frame1" value="switch_1"/>
    <param name="april_tag_frame2" value="switch_2"/>
  </node>

  <node pkg="ros_marker_detection" type="detect_and_move.py" name="switch_approacher" output="screen"/>
  <node pkg="ros-handshake" type="arbitrator.py" name="arbitrator" output="screen"/>
</launch>
